.container-fluid
{
    background: linear-gradient(blue, lightskyblue, aqua , lightblue );
    height: 1110px;
}
.colo
{
    color: white;
}

.recent
{
    margin-left: 1%;
    margin-top: 1%;
}
.image
{
    height: 100px;
    width: 100px;
}
.inputSearch
{
   width: 50%;
}
.search{
    margin: 1%;
}